:root {
    --font-size: 13;
    --font-weight: normal;
    --font: "Ubuntu", sans-serif, tewi, Source Code Pro, sans;
    --padding: 2px;
    --shadow-rgb: rgba(0, 0, 0);
    --panel-header-background: #2a2f32;
    --panel-header-icon: #b1b3b5;
    --primary-strong: rgba(241, 241, 242, 0.92);
    --background-color: #0d1418;
}
* {
    color: inherit;
    font: inherit;
    font-size: 100%;
    line-height: 21px;
    vertical-align: initial;
    outline: none;
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: auto;
    /* width: 977.2px; */
    background-color: var(--background-color);
    overflow: hidden;
    padding-right: 10px;
}
img {
    display: block;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    box-shadow: 0 1px 3px rgba(var(--shadow-rgb), 0.4);
    background-color: var(--panel-header-background);
    width: 100%;
    height: 59px;
    font-weight: 500px;
    font: Ubuntu, sans-serif;
}
.pp-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}
.user-name-container {
    flex-grow: 1;
    display: flex;
    align-items: flex-start;
    color: var(--primary-strong);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}
.extra-header {
    color: var(--panel-header-icon);
    font-weight: 100;
}

.icon {
    padding: 8px;
    height: 24px;
    display: inline-block;
    margin-left: 10px;
}
.chat {
    height: 100vh;
}
.background {
    position: absolute;
    background-image: url("https://web.whatsapp.com/img/bg-chat-tile-dark_a4be512e7195b6b733d9110b408f075d.png");
    opacity: 0.06;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}
